html, div, section, body, header, footer, h1,h2,h3,h4{
  margin: 0px;
  padding:0px;
  cursor: crosshair;
}

body{
  a {
    text-decoration: none;
    font-family: sans-serif;
  }
}
.Layout{
  overflow: hidden;
}

.white-mode{
  transition: 500ms;
  color: gray;
  background-color: white;
  a{
    color: black;
  }
}
.black-mode{
  background-color: black;
  color: gray;
  transition: 500ms;
  a{
    color: white;
  }
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
  ::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  ::-webkit-scrollbar-thumb {
      background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
      background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@include scrollbars(.5em,crimson ,black);

//Responsive
@media all and (max-width: 1024px) {

}
@media all and (max-width: 839px) {
  #cursor{
    display: none;
  }
}
@media all and (max-width: 480px) {   }
