
.backgroundImgWrapper{
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.contentGrid{
  position: absolute;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
      font-size: 4em;
      color: red;
      text-transform: uppercase;
      @at-root .white-mode {
        .contentGrid>div>h1{
          color:red;
        }
      }
    }
    h2{
      font-family: sans-serif;
      font-weight: normal;
      font-style: italic;
      color: lightgray;
    }
    img{
      width: 43vw;
    }
    .backlink{
      padding: 10px;
      border-radius: 4px;
      background-color: blue;
      transition: 500ms;
      color: white;
      &:hover{
        transition: 500ms;
        background-color: darkblue;
      }
    }
  }
}

//Responsive
@media all and (max-width: 1024px) {   }
@media all and (max-width: 839px) {   }
@media all and (max-width: 480px) {   }
